fastapi
uvicorn
langchain==0.1.0
langchain-community==0.0.13
langchain-core==0.1.10
langchain-google-genai
langchain-text-splitters
google-generativeai
langgraph
pypdf
faiss-cpu
pydantic
python-dotenv
